<ion-header>
  <ion-navbar> <ion-title>Cadastrando...</ion-title> </ion-navbar>
</ion-header>

<ion-content class="login-container">
  <div class="login-container">
    <form [formGroup]="form">
      <ion-grid no-padding>
        <ion-list no-lines>
          <ion-item>

            <ion-row>
              <ion-col class="ajuste-image">
                <div *ngIf="fotoPerfil != null">
                  <img [src]="fotoPerfil" />                  
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="botao-foto" col-4>
                <button ion-button icon-end round outline (click)="abreCamera()">
                    Tirar Foto <ion-icon name="ios-camera"></ion-icon>
                </button>
              </ion-col>
  
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-grid>

      <ion-list>    
        <ion-item class="item-trns">
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>

        <ion-item class="item-trns">
          <ion-label stacked>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.email.valid && (form.controls.email.dirty || form.controls.email.touched)" color="danger">
            <div [hidden]="!form.controls.email.errors.required">
             Minino de 6 Caracteres
            </div>
          </ion-item>

        <ion-item class="item-trns">
          <ion-label stacked>Senha</ion-label>
          <ion-input type="password" formControlName="senha"></ion-input>
        </ion-item>
        <ion-item *ngIf="!form.controls.senha.valid && (form.controls.senha.dirty || form.controls.senha.touched)" color="danger">
          <div [hidden]="!form.controls.senha.errors.required">
           Minino de 6 Caracteres
          </div>
        </ion-item>

        <ion-item class="item-trns">
          <ion-label stacked>Nome do Bebe</ion-label>
          <ion-input type="text" formControlName="babyname"></ion-input>
        </ion-item>
        <ion-item class="item-trns">
          <ion-label stacked>Sexo</ion-label>
          <ion-select formControlName="sexo">
            <ion-option value="Feminino">Feminino</ion-option>
            <ion-option value="Masculino">Masculino</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="item-trns">
          <ion-label stacked>Data de Nascimento</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            formControlName="babyDate"
          ></ion-datetime>
        </ion-item>
      </ion-list>

      <button
        ion-button
        round
        outline
        color="dark"
        type="submit"
        [disabled]="!form.valid"
        (click)="onSubmit()"
      >
        Salvar
      </button>
    </form>
  </div>
</ion-content>
