page-perfil {
  .imagePerfil {
    // width: 10px;
    // height: 10px;
    // position: ;
    top: -13px;
    left: -47px;
  }

  .Label {
    min-width: 50% !important;
    max-width: 50% !important;
  }

  img {
    border-radius: 20px;
  }
}
